.page-header__date {
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-size: 1.4rem;
}

.post-detail {
  display: flex;
  justify-content: center;
}

.post-detail__wrapper {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.post-detail__image {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
}

.post-detail__info {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  gap: 15px;
}

.post-detail__content {
  text-align: start;
  font-size: 1.1rem;
}

.post-detail__author {
  font-style: italic;
  font-size: 1.2rem;
}

.post-detail__tags {
  display: flex;
  flex-direction: column;
  gap: 15px 6px;

  @media (width > 500px) {
    flex-direction: row;
  }
}

.post-detail__tag {
  color: var(--primary-color);
  font-size: 1.1rem;
  padding: 5px 15px;
  background-color: var(--secondary-color);
  border-radius: 5px;
}
