.button {
  padding: 3px;
  border-radius: 5px;
  background-color: var(--secondary-color);

  &:hover {
    border-radius: 5px;
    color: var(--secondary-color);
    transition: 0.5s;
    background-color: var(--primary-color);
  }

  &:active {
    transition: 0.1s;
    scale: 1.01;
  }

  &:focus {
    border: 2px solid #fff;
    outline: 2px solid var(--secondary-color);
  }
}
