.post-form {
  position: relative;
  padding: 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #00000076;
}

.post-form__groups {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-form__group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-form__text {
  font-size: 1.2rem;
}

.post-form__control {
  padding: 10px;
  font-size: 1.2rem;
  background-color: #ffffff17;
  border-bottom: 2px solid var(--primary-color);
  border-radius: 8px 8px 0px 0px;

  &:focus {
    transition: 0.5s;
    outline: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: #3c3c3c;
  }

  &:active {
    transition: 0.1s;
    scale: 1.01;
  }
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.post-form__error {
  position: absolute;
  bottom: 20px;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  background-color: #ad0000;
  font-size: 1.2rem;

  @media (width < 550px) {
    right: 20px;
    bottom: 65px;
    font-size: 1rem;
  }

  @media (width < 350px) {
    font-size: 0.9rem;
    padding: 5px 8px;
    right: 20px;
    bottom: 65px;
  }
}

.post-form__button {
  padding: 8px 15px;
  align-self: flex-end;
  color: var(--secondary-color);
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 1.2rem;
  background-color: var(--primary-color);

  &:focus {
    border-radius: 5px;
    color: var(--primary-color);
    transition: 0.5s;
    background-color: #3c3c3c;
    outline: 3px solid var(--primary-color);
  }

  &:hover {
    transition: 0.5s;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    outline: 3px solid var(--primary-color);

    &:disabled {
      cursor: no-drop;
      outline-color: #f8da43ca;
      background-color: var(--secondary-color);
    }
  }

  &:active {
    transition: 0.1s;
    scale: 1.01;
  }

  &:disabled {
    cursor: no-drop;
    background-color: #f8da43ca;
  }
}
