.post-form {
  padding: 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #00000076;
}

.post-form__groups {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-form__group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-form__text {
  font-size: 1.2rem;
}

.post-form__control {
  padding: 10px;
  font-size: 1.2rem;
  border-bottom: 2px solid var(--primary-color);

  &:focus {
    transition: 0.5s;
    outline: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: #3c3c3c;
  }

  &:active {
    transition: 0.1s;
    scale: 1.01;
  }
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.post-form__button {
  padding: 8px 15px;
  align-self: flex-end;
  color: var(--secondary-color);
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 1.2rem;
  background-color: var(--primary-color);

  &:focus {
    border-radius: 5px;
    color: var(--primary-color);
    transition: 0.5s;
    background-color: #3c3c3c;
    outline: 3px solid var(--primary-color);
  }

  &:hover {
    transition: 0.5s;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    outline: 3px solid var(--primary-color);
  }

  &:active {
    transition: 0.1s;
    scale: 1.01;
  }
}
