:root {
  --primary-color: #1a1919;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Outfit Variable", sans-serif;
  background-color: #f8d943;
}

h1 {
  margin: 0;
}
