.post {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  box-shadow: 4px 4px 4px #00000076;

  @media (width > 500px) {
    flex-direction: row;
  }
}

.post__image {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;

  @media (width > 500px) {
    width: revert-layer;
    scale: 1;
  }
}

.button--delete,
.button--navigate {
  position: absolute;
  top: 15px;
  height: 2rem;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
}

.button--delete {
  left: 15px;
  width: 2rem;
}

.button--navigate {
  left: 55px;
  padding: 0px 10px !important;
}

.post__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.post__info-top {
  display: flex;
  justify-content: space-between;
}

.post__headline {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.post__title {
  font-size: 1.4rem;
}

.post__author,
.post__date {
  font-size: 1rem;
}

.post__content {
  font-size: 1rem;
  font-weight: 100;
}

.post__info-bottom {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;

  @media (width > 500px) {
    flex-direction: row;
  }
}

.post__tags {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (width > 500px) {
    flex-direction: row;
  }
}

.post__tag {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 3px 8px;
}
