.navigation {
  font-size: 1.8rem;
  font-family: inherit;

  @media (width < 500px) {
    font-size: 1.2rem;
  }
}

.navigation__link {
  padding: 5px 10px;
  color: var(--secondary-color);

  &:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
}

.active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
