.main-header {
  border-bottom: 3px solid var(--secondary-color);
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (width > 500px) {
    gap: 30px;
    padding: 40px 20px;
  }
}

.page-title-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (width > 500px) {
    flex-direction: row;
  }
}

.page-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--secondary-color);

  @media (width > 500px) {
    font-size: 2rem;
  }
}

.page-title__image {
  width: 80px;
  height: 80px;

  @media (width > 500px) {
    width: 105px;
    height: 105px;
  }
}

.page-title__image--animated {
  @media (prefers-reduced-motion) {
    display: none;
  }
}

.page-title__image--reduced-motion {
  display: none;
  @media (prefers-reduced-motion) {
    display: block;
  }
}
